<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="troll_ui_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FirstTime" value="yes" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <troll_ui_app.Properties.Settings>
      <setting name="lastid" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="update_domain_url" serializeAs="String">
        <value>http://121.40.144.14:8080/domain_admin/domain_update_logs.json</value>
      </setting>
      <setting name="modelFile" serializeAs="String">
        <value>nin/deploy.prototxt</value>
      </setting>
      <setting name="trainedFile" serializeAs="String">
        <value>nin/20150726/model_256__iter_50000.caffemodel</value>
      </setting>
      <setting name="meanFile" serializeAs="String">
        <value>nin/imagenet_mean.binaryproto</value>
      </setting>
      <setting name="bindPort" serializeAs="String">
        <value>8090</value>
      </setting>
      <setting name="maxNumDomainList" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="maxHistoryDays" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="submitTmpDomainUrl" serializeAs="String">
        <value>http://121.40.144.14:8080/domain_admin/tmp_domain_names.json</value>
      </setting>
      <setting name="thdPornPicsOfDomain" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="pornDbFileName" serializeAs="String">
        <value>porn.db</value>
      </setting>
      <setting name="imagesDir" serializeAs="String">
        <value>images</value>
      </setting>
      <setting name="firstTime" serializeAs="String">
        <value>True</value>
      </setting>
    </troll_ui_app.Properties.Settings>
  </userSettings>
  <!--<system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>