<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="troll_ui_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FirstTime" value="yes" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <troll_ui_app.Properties.Settings>
      <setting name="domainUpdateLogsUrl" serializeAs="String">
        <value>http://domain.shanyaows.com/domain_names/update_logs.json</value>
      </setting>
      <setting name="modelFile" serializeAs="String">
        <value>data/porn.model</value>
      </setting>
      <setting name="bindPort" serializeAs="String">
        <value>8090</value>
      </setting>
      <setting name="maxNumDomainList" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="maxHistoryDays" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="submitTmpDomainUrl" serializeAs="String">
        <value>http://domain.shanyaows.com/domain_names/submit_tmp_domain_name.json</value>
      </setting>
      <setting name="thdPornPicsOfDomain" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="pornDbFileName" serializeAs="String">
        <value>porn.db</value>
      </setting>
      <setting name="imagesDir" serializeAs="String">
        <value>images</value>
      </setting>
      <setting name="firstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="minWidth" serializeAs="String">
        <value>224</value>
      </setting>
      <setting name="minHeight" serializeAs="String">
        <value>224</value>
      </setting>
      <setting name="upgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="email" serializeAs="String">
        <value />
      </setting>
      <setting name="updateDir" serializeAs="String">
        <value>updates</value>
      </setting>
      <setting name="updateXmlUrl" serializeAs="String">
        <value>http://download.shanyaows.com/trollwiz-vers.xml</value>
      </setting>
      <setting name="openid" serializeAs="String">
        <value />
      </setting>
      <setting name="createSceneUrl" serializeAs="String">
        <value>http://domain.shanyaows.com/wechat_apis/create_scene.json</value>
      </setting>
      <setting name="getSceneUrl" serializeAs="String">
        <value>http://domain.shanyaows.com/wechat_apis/scene_info.json</value>
      </setting>
      <setting name="getAccessTokenUrl" serializeAs="String">
        <value>http://domain.shanyaows.com/wechat_apis/access_token.json</value>
      </setting>
      <setting name="wechatCreateQrcodeUrl" serializeAs="String">
        <value>https://api.weixin.qq.com/cgi-bin/qrcode/create?access_token={0}</value>
      </setting>
      <setting name="wechatGetQrcodeUrl" serializeAs="String">
        <value>https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={0}</value>
      </setting>
      <setting name="wechatSendTemplateMessage" serializeAs="String">
        <value>https://api.weixin.qq.com/cgi-bin/message/template/send?access_token={0}</value>
      </setting>
      <setting name="wechatTemplateUninstall" serializeAs="String">
        <value>MNdOlj_naI2e_BZuCgWqY03oDoC8OI3pltEZ5oe_cr0</value>
      </setting>
      <setting name="wechatTemplatePornDetected" serializeAs="String">
        <value>EZPCL_OUoG7FbBGG3CBmJG75UJL6Xx9r9vBgPFE23pw</value>
      </setting>
      <setting name="wechatTemplatePornScanned" serializeAs="String">
        <value>HgM5dmYw2gAvp6lYwO_CLXK2kiu2z68oG0tOxSvOA4o</value>
      </setting>
      <setting name="thdPornPicsOfBlackDomain" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="guid" serializeAs="String">
        <value />
      </setting>
      <setting name="registerTrollwizUserUrl" serializeAs="String">
        <value>http://domain.shanyaows.com/trollwiz_users/register.json</value>
      </setting>
      <setting name="skipVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="helpUrl" serializeAs="String">
        <value>http://www.shanyaows.com</value>
      </setting>
      <setting name="isProtected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsNetworkImageTurnOn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsPornWebsiteProtectionTurnOn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsLocalActiveImageTurnOn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsLocalActiveVideoTurnOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="getUserInfoUrl" serializeAs="String">
        <value>http://domain.shanyaows.com/wechat_apis/get_user_info.json</value>
      </setting>
      <setting name="getAuthInfoUrl" serializeAs="String">
        <value>http://domain.shanyaows.com/wechat_apis/get_auth_info.json</value>
      </setting>
      <setting name="userNickname" serializeAs="String">
        <value />
      </setting>
      <setting name="userHeadimgurl" serializeAs="String">
        <value />
      </setting>
      <setting name="errorReportUrl" serializeAs="String">
        <value>http://domain.shanyaows.com/wechat_apis/error_report.json</value>
      </setting>
    </troll_ui_app.Properties.Settings>
  </userSettings>
  <!--<system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>